<div class="bg">
  <app-home></app-home>
  <app-car-gallery
    title="Car Gallery"
    count="1"
    description="Personal Project, made with javascript"
    link="https://sm16aj.github.io/lesson6_javascript3/"
    imageUrl="../../assets/CAR.png"
  ></app-car-gallery>
  <app-project-right
    title="Calculator"
    count="2"
    description="Basic Calculator, made with React"
    link=""
    imageUrl="../../assets/CALC.png"
  ></app-project-right>
  <app-car-gallery
    title="Recipe"
    count="3"
    description="School project, uses jquery"
    link=""
    imageUrl="../../assets/RECIPE.png"
  >
  </app-car-gallery>
  <app-footer></app-footer>
</div>
